{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/checks/plugins_restore_details_table

    Example context (json):
    {
        "plugins": [
            {"name": "name",
             "hasname": "1",
             "pluginname": "tool_pluginname",
             "versionbackup": "1.0",
             "versionlocal": "2.0"
             }
        ]
    }
}}
<table class="generaltable">
    <tr>
        <th>{{#str}} displayname, plugin {{/str}}</th>
        {{#showparents}}
            <th>{{#str}} addonplugins_subpluginof, tool_vault {{/str}}</th>
        {{/showparents}}
        <th>{{#str}} addonplugins_pluginversioninbackup, tool_vault {{/str}}</th>
        {{^hideversionlocal}}
        <th>{{#str}} addonplugins_pluginversiononsite, tool_vault {{/str}}</th>
        {{/hideversionlocal}}
        <th>{{{otherheader}}}</th>
    </tr>
    {{#plugins}}
        <tr>
            <td>
                {{#hasname}}
                    <div class="displayname">
                        {{{name}}}
                    </div>
                {{/hasname}}
                <div style="color: #6a737b;" class="componentname">
                    {{{pluginname}}}
                </div>
            </td>
            {{#showparents}}
                <td>
                    {{#parent}}
                        {{#hasname}}
                            <div class="displayname">
                                {{{name}}}
                            </div>
                        {{/hasname}}
                        <div style="color: #6a737b;" class="componentname">
                            {{{pluginname}}}
                        </div>
                    {{/parent}}
                </td>
            {{/showparents}}
            <td>{{versionbackup}}</td>
            {{^hideversionlocal}}
            <td>{{versionlocal}}</td>
            {{/hideversionlocal}}
            <td>{{#versiondetails}}
{{> tool_vault/checks/plugins_restore_details_versions}}
            {{/versiondetails}}</td>
        </tr>
    {{/plugins}}
    {{#bulkactions}}
        <tr>
            <td></td>
            {{#showparents}}
                <td></td>
            {{/showparents}}
            <td></td>
            {{^hideversionlocal}}
            <td></td>
            {{/hideversionlocal}}
            <td>
                <div class="alert alert-warning" role="alert" data-region="tool_vault-plugin-install"
                        data-cliexpanded="0" data-pluginnames="{{pluginnames}}" {{#writable}}data-writable="1"{{/writable}} data-isbulk="1">
                    <p>{{#str}} addonplugins_withallplugins, tool_vault {{/str}}</p>
                    <div>
                        <button data-action="cli" class="icon-size-2">
                        <span class="cli-expanded-icon">{{#pix}} t/collapsedchevron, core {{/pix}}</span>
                        <span class="cli-collapsed-icon">{{#pix}} t/expandedchevron, core {{/pix}}</span>
                            {{#str}} addonplugins_cliinstructions, tool_vault {{/str}}</button>
                        <button data-action="install" {{^writable}}disabled{{/writable}}>{{#str}} addonplugins_install, tool_vault {{/str}}</button>
                    </div>
                    <div data-purpose="cli" class="mt-2 p-1 pt-2" style="border: 1px solid gray"></div>
                </div>
            </td>
        </tr>
    {{/bulkactions}}
</table>
