{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/checks/plugins_restore_details_versions

    Details about one version in teh plugins restore table

    Example context (json):
    {
        "general": "<p>Explanation text</p>",
        "versions": [
            {"description": "Version 10000000",
             "downloadurl": "#", "ischecked": 1},
            {"description": "Version 20000000",
             "downloadurl": "#"}
        ],
        "showbuttons": 1,
        "pluginpath": "tool/vault",
        "writable": 0
    }
}}
<div data-region="tool_vault-plugin-install" {{#writable}}data-writable="1"{{/writable}}
        data-pluginname="{{pluginname}}" data-versionlocal="{{versionlocal}}" data-cliexpanded="0">
    {{{general}}}

    {{#versions}}
    <div>
        <label class="mb-0">
            <input type="radio" name="install_{{pluginname}}" value="{{source}}" data-exactversion="{{exactversion}}" {{#ischecked}}checked{{/ischecked}}>
            {{{description}}}
            {{#downloadurl}}
                <a href="{{.}}">{{#pix}} download, tool_vault, {{#str}} download, moodle {{/str}} {{/pix}}</a>
            {{/downloadurl}}
        </label>
    </div>
    {{/versions}}

    <div>
        <div>
            <div >
                {{#showbuttons}}
                    <button data-action="cli" class="icon-size-2">
                    <span class="cli-expanded-icon">{{#pix}} t/collapsedchevron, core {{/pix}}</span>
                    <span class="cli-collapsed-icon">{{#pix}} t/expandedchevron, core {{/pix}}</span>
                        {{#str}} addonplugins_cliinstructions, tool_vault {{/str}}</button>
                    <button data-action="install" {{^writable}}disabled{{/writable}}>{{#str}} addonplugins_install, tool_vault {{/str}}</button>
                {{/showbuttons}}
            </div>
            <div >
                <span>{{#str}} path, tool_vault {{/str}}: {{pluginpath}}</span>
                {{#showbuttons}}
                &#183;
                <span>{{#str}} writable, tool_vault {{/str}}:
                    {{#writable}}{{#str}} yes, moodle {{/str}}
                        {{#pix}}spacer, moodle{{/pix}}{{/writable}}
                    {{^writable}}{{#str}} no, moodle {{/str}}
                        {{#nonwritablehelp}}{{>core/help_icon}}{{/nonwritablehelp}}{{/writable}}</span>
                {{/showbuttons}}
            </div>
        </div>
    </div>
    <div data-purpose="cli" class="mt-2 p-1 pt-2" style="border: 1px solid gray"></div>
</div>
