{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/checks/plugins_restore_details_table

    Example context (json):
    {
        "plugins": [
            {"name": "name",
             "hasname": "1",
             "pluginname": "tool_pluginname",
             "versionbackup": "1.0",
             "versionlocal": "2.0"
             }
        ]
    }
}}
<table class="generaltable">
    <tr>
        <th>Name</th>
        {{#showparents}}
            <th>Subplugin of</th>
        {{/showparents}}
        <th>Version in the backup</th>
        <th>Current version on this site</th>
        <th></th>
    </tr>
    {{#plugins}}
        <tr>
            <td>
                {{#hasname}}
                    <div class="displayname">
                        {{{name}}}
                    </div>
                {{/hasname}}
                <div style="color: #6a737b;" class="componentname">
                    {{{pluginname}}}
                </div>
            </td>
            {{#showparents}}
                <td>
                    {{#parent}}
                        {{#hasname}}
                            <div class="displayname">
                                {{{name}}}
                            </div>
                        {{/hasname}}
                        <div style="color: #6a737b;" class="componentname">
                            {{{pluginname}}}
                        </div>
                    {{/parent}}
                </td>
            {{/showparents}}
            <td>{{versionbackup}}</td>
            <td>{{versionlocal}}</td>
            <td><a href="https://moodle.org/plugins/{{pluginname}}" target="_blank">Plugins directory</a> </td>
        </tr>
    {{/plugins}}
</table>
