{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/check_dbstatus_details

    Example context (json):
    {
        "tables": [
            {
                "tablename": "user",
                "tablewarnings": [
                    "Extra column 'position'"
                ],
                "diffdefinition": "&lt;TABLE name=&quot;users&quot;&gt;",
                "diffactual": "&lt;TABLE name=&quot;users&quot;&gt;"
            }
        ]
    }

}}
<table class="tool_vault-generaltable">
    {{#tables}}
        <tr>
            <th colspan="3">{{{tablename}}}</th>
        </tr>
        {{#tablewarnings}}
            <tr>
                <td></td>
                <td colspan="2">{{{.}}}</td>
            </tr>
        {{/tablewarnings}}
        <tr>
            <td></td>
            <td class="tablediff">
<pre>
{{{diffdefinition}}}
</pre>
            </td>
            <td class="tablediff">
<pre>
{{{diffactual}}}
</pre>
            </td>
        </tr>
    {{/tables}}
</table>
