{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/last_operation

    Example context (json):
    {
    }

}}
<div class="card border-{{class}} mb-3" style="max-width: 36rem;">
<!--    <div class="card-header bg-transparent border-success">Header</div>-->
    <div class="card-body text-{{class}}">
        <h5 class="card-title">{{{title}}}</h5>
        <p class="card-text">{{{text}}}</p>
    </div>
    <div class="card-footer bg-transparent border-{{class}}">
        <a href="{{detailsurl}}" class="btn btn-secondary">View details</a>
    </div>
</div>
