{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/logs

    Past backups and restores on this site

    Example context (json):
    {
    }
}}


{{#haspastbackups}}
    <h3>{{#str}} pastbackupslist, tool_vault {{/str}}</h3>
    <table class="generaltable">
        <tr>
            <th>{{#str}} backup, tool_vault {{/str}}</th>
            <th>{{#str}} status, moodle {{/str}}</th>
            <th>{{#str}} date, moodle {{/str}}</th>
            <th>{{#str}} withpassphrase, tool_vault {{/str}}</th>
            <th></th>
        </tr>
        {{#backups}}
            <tr>
                <td>
                    {{{description}}}<br>
                    <b>{{#str}} backupkey, tool_vault {{/str}}:</b> <a href="{{backupdetailsurl}}">{{backupkey}}</a>
                </td>
                <td>{{statusstr}}</td>
                <td>{{timestarted}}</td>
                <td>{{encryptedstr}}</td>
                <td>
                    <a href="{{backupdetailsurl}}" class="btn btn-secondary">{{#str}} viewdetails, tool_vault {{/str}}</a>
                </td>
            </tr>
        {{/backups}}
    </table>
{{/haspastbackups}}
{{^haspastbackups}}
    <p>{{#str}} nopastbackups, tool_vault {{/str}}</p>
{{/haspastbackups}}



{{#haspastrestores}}
    <h3>{{#str}} pastrestoreslist, tool_vault {{/str}}</h3>
    <table class="generaltable">
        <tr>
            <th>{{#str}} backup, tool_vault {{/str}}</th>
            <th>{{#str}} status, moodle {{/str}}</th>
            <th>{{#str}} date, moodle {{/str}}</th>
            <th>{{#str}} withpassphrase, tool_vault {{/str}}</th>
            <th></th>
        </tr>
        {{#restores}}
            <tr>
                <td>
                    {{{description}}}<br>
                    <b>{{#str}} backupkey, tool_vault {{/str}}:</b> {{backupkey}}
                </td>
                <td>{{statusstr}}</td>
                <td>{{timestarted}}</td>
                <td>{{encryptedstr}}</td>
                <td>
                    <a href="{{restoredetailsurl}}" class="btn btn-secondary">{{#str}} viewdetails, tool_vault {{/str}}</a>
                </td>
            </tr>
        {{/restores}}
    </table>
{{/haspastrestores}}
{{^haspastrestores}}
    <p>{{#str}} nopastrestores, tool_vault {{/str}}</p>
{{/haspastrestores}}
