{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/logs_with_short

    Example context (json):
    {
        "haslogsshort": "1",
        "logsshort": "hi",
        "logs": "hello there"
    }
}}
{{#haslogsshort}}
    <div data-vault-purpose="logsshort">
<pre>
{{{logsshort}}}
</pre>
    <p><a href="#" data-vault-purpose="togglelogs">{{#str}} expandlogs, tool_vault {{/str}}</a></p>
    </div>
    <div data-vault-purpose="logslong" style="display: none">
<pre>
{{{logs}}}
</pre>
    <p><a href="#" data-vault-purpose="togglelogs">{{#str}} collapselogs, tool_vault {{/str}}</a></p>
</div>
{{/haslogsshort}}

{{^haslogsshort}}
<pre>
{{{logs}}}
</pre>
{{/haslogsshort}}

{{^isprogresspage}}
{{#haslogsshort}}
{{#js}}
    require(['tool_vault/vault'], function(Vault) {
        Vault.initCollapseExpandBackupLogs();
    });
{{/js}}
{{/haslogsshort}}
{{/isprogresspage}}
