{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/restore_details

    Example context (json):
    {
        "sectionurl": "#",
        "title": "Title",
        "details": "Details"
    }

}}

<h3>{{{title}}}</h3>

{{#isprogresspage}}
    <p>During restore the site is in maintenance mode. Use this page to access logs about the current process</p>
{{/isprogresspage}}

<table class="generaltable">
    <tr>
        <th>Status</th>
        <td>{{{statusstr}}}</td>
    </tr>
    <tr>
        <th>Performed by</th>
        <td>{{{performedby}}}</td>
    </tr>
    <tr>
        <th>Started on</th>
        <td>{{{timestarted}}}</td>
    </tr>
    {{#timefinished}}
        <tr>
            <th>Finished on</th>
            <td>{{{timefinished}}}</td>
        </tr>
    {{/timefinished}}
    <tr>
        <th>Remote backup</th>
        <td><a href="{{backupdetailsurl}}">{{{backupkey}}}</a></td>
    </tr>
    {{#haslogs}}
        {{^isprogresspage}}
            <tr>
                <th>Logs</th>
                <td>
{{> tool_vault/logs_with_short}}
                </td>
            </tr>
        {{/isprogresspage}}
    {{/haslogs}}
</table>

{{#errormessage}}
{{> tool_vault/error_with_backtrace }}
{{/errormessage}}

{{#haslogs}}
    {{#isprogresspage}}
        <h4>Backup process log</h4>
<pre>
{{{logs}}}
</pre>
    {{/isprogresspage}}
{{/haslogs}}

{{#timefinished}}
    <p><a href="{{siteurl}}">Return to the site</a></p>
{{/timefinished}}
