{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/restore_details

    Example context (json):
    {
        "sectionurl": "#",
        "title": "Title",
        "details": "Details"
    }

}}

<h3>{{{title}}}</h3>

{{#isprogresspage}}
    <p>{{#str}} restoreinprogress, tool_vault {{/str}}</p>
{{/isprogresspage}}

<table class="generaltable">
    <caption class="accesshide">{{#str}} restoredetails, tool_vault {{/str}}</caption>
    <tr>
        <th>{{#str}} status, moodle {{/str}}</th>
        <td>{{{statusstr}}}</td>
    </tr>
    <tr>
        <th>{{#str}} performedby, tool_vault {{/str}}</th>
        <td>{{{performedby}}}</td>
    </tr>
    <tr>
        <th>{{#str}} timestarted, tool_vault {{/str}}</th>
        <td>{{{timestarted}}}</td>
    </tr>
    {{#timefinished}}
        <tr>
            <th>{{#str}} timefinished, tool_vault {{/str}}</th>
            <td>{{{timefinished}}}</td>
        </tr>
    {{/timefinished}}
    <tr>
        <th>{{#str}} remotebackup, tool_vault {{/str}}</th>
        <td><a href="{{backupdetailsurl}}">{{{backupkey}}}</a></td>
    </tr>
    {{#haslogs}}
        {{^isprogresspage}}
            <tr>
                <th>{{#str}} logs, moodle {{/str}}</th>
                <td>
{{> tool_vault/logs_with_short}}
                </td>
            </tr>
        {{/isprogresspage}}
    {{/haslogs}}
</table>

{{^isprogresspage}}
{{#errormessage}}
{{> tool_vault/error_with_backtrace }}
{{/errormessage}}
{{/isprogresspage}}

{{#haslogs}}
    {{#isprogresspage}}
        <h4>{{#str}} backupprocesslog, tool_vault {{/str}}</h4>
<pre>
{{{logs}}}
</pre>
    {{/isprogresspage}}
{{/haslogs}}

{{^isprogresspage}}
{{#prechecks}}
    {{> tool_vault/check_summary}}
{{/prechecks}}
{{/isprogresspage}}

{{#isprogresspage}}
    {{#errordetailsurl}}
        <p><a href="{{.}}">{{#str}} viewerrordetails, tool_vault {{/str}}</a></p>
    {{/errordetailsurl}}
    {{#timefinished}}
        <p><a href="{{siteurl}}">{{#str}} returntothesite, tool_vault {{/str}}</a></p>
    {{/timefinished}}
    {{^timefinished}}
        <p><em>{{#str}} refreshpage, tool_vault, {{#quote}}javascript:window.location.href=window.location.href{{/quote}} {{/str}}</em></p>
    {{/timefinished}}
{{/isprogresspage}}
