{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/section_backup

    Example context (json):
    {
        "lastbackup": {
            "title": "Title",
            "details": "Details"
        }
    }

}}

<h3>{{#str}}sitebackup, tool_vault{{/str}}</h3>

{{{registrationform}}}

{{#lastoperation}}
    {{> tool_vault/last_operation }}
{{/lastoperation}}

<div class="pt-2 pb-3">
    <form action="#" data-url="{{startbackupurl}}" method="POST" data-action="startbackup" data-contextid="{{contextid}}">
        <input type="hidden" name="passphrase" value="">
        <input type="hidden" name="description" value="">
        <input type="submit" value="{{#str}}startbackup, tool_vault{{/str}}" class="btn btn-primary" {{^canstartbackup}}disabled{{/canstartbackup}}>
    </form>
    {{#whybackupdisabled}}
        <div class="alert alert-warning mt-2">
            {{{.}}}
        </div>
    {{/whybackupdisabled}}
</div>

{{#js}}
{{#islegacy}}
    require(['tool_vault/vault_amd'], function(Vault) {
        Vault.initStartBackup();
    });
{{/islegacy}}
{{^islegacy}}
    require(['tool_vault/vault'], function(Vault) {
        Vault.initStartBackup();
    });
{{/islegacy}}
{{/js}}
