{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/section_restore

    Example context (json):
    {
        "lastbackup": {
            "title": "Title",
            "details": "Details"
        }
    }

}}

<h3>{{#str}}siterestore, tool_vault{{/str}}</h3>

{{{registrationform}}}

{{#lastoperation}}
    {{> tool_vault/last_operation }}
{{/lastoperation}}

{{#whyrestoresdisabled}}
    <div class="alert alert-warning mt-2">
        {{{.}}}
    </div>
{{/whyrestoresdisabled}}
{{#remotebackupsupdateurl}}
    <h4>{{#str}} remotebackups, tool_vault {{/str}}</h4>
    <p>{{#str}} lastupdated, tool_vault {{/str}}: {{remotebackupstime}} 
        <a href="{{remotebackupsupdateurl}}">{{#pix}} i/reload, core, {{#str}} refresh, moodle {{/str}} {{/pix}}</a>
    </p>

    {{#errormessage}}
        {{> tool_vault/error_with_backtrace }}
    {{/errormessage}}

    <table class="generaltable">
        <thead>
            <tr>
                <th>{{#str}} backup, tool_vault {{/str}}</th>
                <th>{{#str}} date, moodle {{/str}}</th>
                <th>{{#str}} size, moodle {{/str}}</th>
                <th>{{#str}} isencrypted, tool_vault {{/str}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {{#remotebackups}}
        <tr>
            <td>
                {{{description}}}<br>
                <b>{{#str}} backupkey, tool_vault {{/str}}:</b> <a href="{{backupdetailsurl}}">{{backupkey}}</a>
            </td>
            <td>{{timestarted}}</td>
            <td>{{totalsizestr}}</td>
            <td>{{encryptedstr}}</td>
            <td>
                <a href="{{backupdetailsurl}}" class="btn btn-secondary">{{#str}} viewdetails, tool_vault {{/str}}</a>
                {{#showactions}}
                    {{> tool_vault/remote_backup_buttons}}
                {{/showactions}}
            </td>
        </tr>
    {{/remotebackups}}
    {{^remotebackups}}
        <tr><td colspan="5"><em>{{#str}} nobackupsavailable, tool_vault {{/str}}</em></td></tr>
    {{/remotebackups}}
        </tbody>
    </table>
{{/remotebackupsupdateurl}}


