{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/start_backup_popup

    Example context (json):
    {
        "description": "My backup description"
    }

}}

<form action="#">
<p>{{#str}} startbackup_desc, tool_vault {{/str}}</p>
{{#showbucketselect}}
<p><label for="bucket_startbackup">{{#str}} startbackup_bucket, tool_vault {{/str}}:</label><br>
    <select name="bucket" id="bucket_startbackup">
        {{#buckets}}
            <option value="{{id}}" {{#isdefault}}selected{{/isdefault}}>{{{label}}}</option>
        {{/buckets}}
    </select>
</p>
{{/showbucketselect}}
{{#withencryption}}
    <p>{{#str}} startbackup_enc_desc, tool_vault {{/str}}</p>
    <p><label for="passphrase_startbackup">{{#str}} passphrase, tool_vault {{/str}}:</label>
        <input type="text" name="passphrase" id="passphrase_startbackup"></p>
{{/withencryption}}
{{^withencryption}}
    <p>{{#str}} startbackup_noenc_desc, tool_vault {{/str}}</p>
{{/withencryption}}
<p><label for="description_startbackup">{{#str}} backupdescription, tool_vault {{/str}}:</label><br>
    <input type="text" name="description" value="{{description}}"
           id="description_startbackup" style="width: 100%" maxlength="255">
</p>
<p><label for="expiredays_startbackup">{{#str}} startbackup_expiredays_prefix, tool_vault {{/str}}</label>
<input type="text" name="expiredays" id="expiredays_startbackup"
    value="{{#expiredays}}{{.}}{{/expiredays}}" {{^canchangeexpiration}}disabled{{/canchangeexpiration}} style="width: 50px;">
{{#str}} startbackup_expiredays_suffix, tool_vault {{/str}}
</p>
<input type="hidden" name="backupplugincode" value="1" {{#backupplugincode}}checked{{/backupplugincode}} id="backupplugincode_startbackup">
{{#limit}}
<p>{{#str}} startbackup_limit_desc, tool_vault, {{limit}} {{/str}}</p>
{{/limit}}
{{#showupgrademessage}}
<p>{{#str}} startbackup_cta, tool_vault, {"href": {{#quote}}{{vaulturl}}{{/quote}}, "link": {{#quote}}{{vaulturl}}{{/quote}} } {{/str}}</p>
{{/showupgrademessage}}
</form>

