{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/start_backup_popup

    Example context (json):
    {
        "description": "My backup description"
    }

}}

<form action="#">
<p>Your backup will be scheduled and performed during the next cron run. You may choose to encrypt your backup with a passphrase,
    in this case you will need to enter the same passphrase on restore. Passphrase will only be stored on your moodle site
    until the end of the backup process.</p>
<p><label for="passphrase_startbackup">Passphrase:</label> <input type="text" name="passphrase" id="passphrase_startbackup"></p>
<p><label for="passphrase_startbackup">Description:</label><br>
    <input type="text" name="description" value="{{description}}"
           id="description_startbackup" style="width: 100%" maxlength="255">
</p>
</form>

