{{!
    This file is part of plugin tool_vault - https://lmsvault.io

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_vault/start_backup_popup

    Example context (json):
    {
        "description": "My backup description"
    }

}}

<form action="#">
<p>{{#str}} startbackup_desc, tool_vault {{/str}}</p>
<p><label for="passphrase_startbackup">{{#str}} passphrase, tool_vault {{/str}}:</label>
    <input type="text" name="passphrase" id="passphrase_startbackup"></p>
<p><label for="description_startbackup">{{#str}} description, moodle {{/str}}:</label><br>
    <input type="text" name="description" value="{{description}}"
           id="description_startbackup" style="width: 100%" maxlength="255">
</p>
</form>

